header {
    background-color: #4f0261;
    color: white;
    margin: 5px;
    border: black solid 10px;
}

ul {
    padding-left: 10px;
}

h1 {
    font-size: 40px;
    color: #4f0261;
}

h2 {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

.casket1 {
    border: #972d59 solid 5px;
    margin: 1%;
    padding: 20px;
}

.casket2 {
    width: 326px;
    border: #972d59 solid 5px;
    margin: 5%;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}





footer {
    background-color: #4f0261;
    color: white;
    height: 20px;
    margin: 5px;
    border: black solid 5px;
}