header {
    background-color: #4f0261;
    color: white;
    margin: 5px;
    border: black solid 10px;
}



h2 {
    text-align: center;
    text-decoration: underline;
}

.casket1 {
    border: #972d59 solid 5px;
    margin: 1%;
}

.casket2 {
    width: 30%;
    border: #972d59 solid 5px;
    margin: 5%;
}





footer {
    background-color: #4f0261;
    color: white;
    height: 20px;
    margin: 5px;
    border: black solid 5px;
}