header {
    background-color: #4f0261;
    color: white;
    font-size: 40px;
    margin: 5px;
    border: black solid 10px;
}

#topBox {
    display:inline-block;
    width: 80%;
    margin: 5%;
    margin-bottom: 40px;
}

#topBox img {
    width: 25%;
    float: left;
    margin-right: 2%;
}


.intro {
    font-size: 15pt;
    border: 10px;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

ul {
    padding-left: 12px;
}

h1 {
    font-size: 35px;
    color: #4f0261;
}

h2 {
    font-size: 30px;
    color: #4f0261;
    text-align: center;
    text-decoration: underline;
}

sub {
    font-size: 13px;
}


.casket1 {
    display: inline-block;
    width: 40%;
    border: #972d59 solid 5px;
    margin-left: 1%;
    padding: 20px;
    text-align: left;
    font-size: 17pt;
}


.caskets {
    display: inline-block;
    width: 40%;
    padding: 20px;
    text-align: left;
    font-size: 17pt;
}



.gravesite {
    display: block;
    /* width: 510px; */
    border: #972d59 solid 5px;
    margin: 4%;
    padding: 20px;
    text-align: left;
    font-size: 17pt;
}



.casket2 {
    width: 378px;
    border: #972d59 solid 5px;
    margin: 5%;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    font-size: 16pt;
}





footer {
    background-color: #4f0261;
    color: white;
    height: 20px;
    margin: 5px;
    border: black solid 5px;
}